@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.main {
  background-color: #093545;
  position: relative;
  min-height: 100vh;
  font-family: "Montserrat", sans-serif;
}

.main::after {
  content: "";
  background-image: url("../../public/Vectors.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100px;
  z-index: -1;
}

/* @media (min-width: 1300px) {
  .main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 40px;
  }
} */

.main1 {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.main1 input[type="checkbox"] {
  display: none;
  /* visibility: none; */
}

.checkbox-container {
  position: relative;
  height: 20px;
  width: 20px;
  background-color: #224957;
  border-radius: 5px;
}

.main1 input:checked ~ .checkbox-container {
  background-color: blue;
}

.checkbox-container::after {
  content: "";
  position: absolute;
  display: none;
  left: 8px;
  top: 3px;
  width: 4px;
  height: 12px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.main1 input:checked ~ .checkbox-container::after {
  display: block;
}
